<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleVisionAPIKey</key>
	<string>AIzaSyDwL2yIkBCj-ScEOtp1Kv4wYjJm2BtbquA</string>
	<key>ClerkFrontendAPI</key>
	<string>https://glowing-moth-47.clerk.accounts.dev</string>
	<key>ClerkPublishableKey</key>
	<string>pk_test_Z2xvd2luZy1tb3RoLTQ3LmNsZXJrLmFjY291bnRzLmRldiQ</string>
</dict>
</plist>
